.npmrc
package-lock.json
QueryFilterServiceApp/wwwroot/css/icons/dxicons.ttf
QueryFilterServiceApp/wwwroot/css/icons/dxicons.woff
QueryFilterServiceApp/wwwroot/css/icons/dxicons.woff2
QueryFilterServiceApp/wwwroot/css/icons/dxre-icons.ttf
QueryFilterServiceApp/wwwroot/css/icons/dxre-icons.woff
QueryFilterServiceApp/wwwroot/css/icons/dxre-icons.woff2
QueryFilterServiceApp/wwwroot/css/designer.part.bundle.css
QueryFilterServiceApp/wwwroot/css/dx-reporting-skeleton-screen.css
QueryFilterServiceApp/wwwroot/css/thirdparty.bundle.css
QueryFilterServiceApp/wwwroot/css/viewer.part.bundle.css
QueryFilterServiceApp/wwwroot/js/designer.part.bundle.js
QueryFilterServiceApp/wwwroot/js/reporting.thirdparty.bundle.js
QueryFilterServiceApp/wwwroot/js/site.thirdparty.bundle.js
QueryFilterServiceApp/wwwroot/js/viewer.part.bundle.js

